@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";

* {
  @apply min-h-0 min-w-0;
}

html {
  @apply w-full h-full text-sm;
}

body {
  @apply w-full h-full relative;
}

#app {
  @apply p-2 flex flex-col gap-2 w-full h-full;

  main {
    @apply flex-1;
  }
}

.fluid-flex-centered {
  @apply w-full h-full flex justify-center items-center;
}

.flex-centered {
  @apply flex justify-center items-center;
}

.full {
  @apply w-full h-full;
}

.flex-between {
  @apply flex justify-between;
}

.tn-modal {
  @apply z-50 w-full h-full max-h-full top-0 left-0 bg-[var(--background-color)] backdrop-blur-xs absolute flex justify-center items-center;
}

.tn-form {
  @apply flex flex-col gap-4;
}

.tn-primitive-form-input {
  @apply flex flex-col w-full gap-1;

  .tn-primitive-input {
    @apply flex flex-col gap-4;
  }
}

.p-button {
  max-width: calc(var(--spacing) * 40) !important;

  .p-button-label {
    @apply truncate;
  }
}

.required-star {
  @apply text-red-500;
}

.chevron {
  transition: transform 150ms ease;
}

.chevron-rotate {
  transform: rotate(180deg);
}
